<h1>StaticPages - Help</h1>
<p>Find me in <b>app/views/static_pages/help.html.erb</b></p>

<a href="http://localhost:3000/static_pages/help"> Help</a>
<a href="http://localhost:3000/static_pages/home">Home</a>
<a href="http://localhost:3000/"> Main Page</a>
