<div style="width: 30%">
<h1>StaticPages - Home</h1>
<p>Find me in <b>app/views/static_pages/home.html.erb</b> to customize.</p>
<br>
<p>
This is not a genuine page. This page is under construction and Developer <b>Anil</b> is customizing the application with 
Layout, Functionalities and the page contents.
</p>

<a href="http://localhost:3000/static_pages/help"> Help</a>
<a href="http://localhost:3000/static_pages/home">Home</a>
<a href="http://localhost:3000/"> Main Page</a>
</div>

